class <%= class_name %> < ActiveRecord::Migration[6.1]
  def change
    # example:
    # create_table :users do |t|
    #   t.string :name
    #   t.string :email
    #   t.timestamps
    # end
  end
end
