module Marlon
  module Services
    class <%= class_name %>
      def initialize(context = {})
        @context = context
      end

      def call(payload)
        # implement business logic
        { service: "<%= class_name %>", payload: payload }
      end
    end
  end
end
